<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Яцынина Юлия. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    {% if request.cookies.get('color') %}
    <style>
        body {
            color: {{ request.cookies.get('color') }};
        }
    </style>
    {% endif %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }} 
    </header>

    <main>
        {% block main %}{% endblock %}
        <h2><a href="/menu" target="_blank">Меню</a></h2>
    </main>

    <footer>
        &copy; Юлия Яцынина, ФБИ-14, 3 курс, 2023
    </footer>

    
</body>
</html>