{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Сладкое</h1>
    <h3>Тирамису</h3>
    <img src="{{ url_for('static', filename='tir.jpg') }}">
    <div>Тирамису (Tiramisu) — очень воздушный, нежный итальянский десерт, с изумительным контрастом
        сладкого сливочного крема и горьковатого вкуса крепкого кофе.</div>

    <h3>Панкейки</h3>
    <img src="{{ url_for('static', filename='pan.jpg') }}">
    <div>Мучное изделие плоской формы, выпекаемое на сковороде. Тесто готовится на основе молока с добавлением
        крахмала и растопленного сливочного масла. Традиционное блюдо Северной Америки,
        приготавливаемое на завтрак.</div>

    <h3>Синнабон</h3>
    <img src="{{ url_for('static', filename='sin.jpeg') }}">
    <div>Разновидность сладкой выпечки из дрожжевого теста, подаваемой по традиции к кофе в Скандинавии, а
        также Австрии и Германии, получила распространение в Северной Америке под названием «ролл с корицей».
        Один из самых популярных продуктов экспорта скандинавской кухни.</div>

    <h3>Круассан</h3>
    <img src="{{ url_for('static', filename='kr.jpg') }}">
    <div>Небольшое хлебобулочное изделие в форме полумесяца (рогалика) из слоёного теста.
        Очень популярный продукт французской кухни, подаётся на завтрак к кофе для взрослых или к какао
        («горячему шоколаду» по-французски) для детей; своеобразный символ этой страны. </div>

    <h3>Блинчики</h3>
    <img src="{{ url_for('static', filename='bl.jpg') }}">
    <div>Блюдо русской кухни, выпекаемое из жидкого теста на сковороде. Блины выпекаются из пшеничного дрожжевого
        теста. Подаются горячими с растопленным сливочным маслом или сметаной.</div>
{% endblock %}